@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@1&display=swap');

html {
  font-size: 10px;
  background: url(moon-star.jpg);
  background-size: 100% auto;
  overflow: hidden
}

body,
html {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;

}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper>* {
  padding: 20px;
}

.page-main {
  flex-grow: 1;
}


.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;
}

.page-main div {
  max-width: 500px;
}


.message {
  /* opacity: 0; */
  transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  top: 20%;
  left: 51%;
  width: 700px;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-family: 'IBM Plex Serif', serif;
  z-index: 999999;
  position: fixed;
}

.thoughts {
  display: block;
  height: 300px;
  width: 300px;
  position: fixed;
  top: 35%;
  left: 40%;
  text-align: center;
  /* font-family: lato, sans-serif; */
  z-index: 3;
  opacity: 0;
}

textarea {
  width: 100%;
  color: #FFF;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
}

.button {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 200;
  font-size: 20px;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  margin: 50px 20px 0px 20px;
  display: inline-block;
  position: fixed;
  bottom: 15%;
  left: 45%;
  z-index: 999;
}

.button:hover {
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.hide {
  opacity: 0;
}

.welcome {
  color: white;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 1.5rem;
  position: fixed;
  top: 15%;
  left: 40%;
}

.welcome h1 {
  font-size: 6rem;
}

span {
  opacity: 0;
  transition: all 1s ease;
}

span.fade {
  opacity: 1;
}

.footer {
  position: fixed;
  bottom: 0%;
  left: 40%;
  text-align: center;
  font-size: 13px;
  color: white;
}

.fa {
  padding: 5px;
  font-size: 20px;
  width: 10px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

@media (max-width: 1024px) {
  .welcome {
    left: 35%;
  }

}

@media (max-width: 800px) {
  .welcome {
    left: 30%;
  }

  .button {
    left: 43%;
    font-size: 15px;
  }

  .footer {
    left: 34%;
  }

  .thoughts {
    width: 400px;
    position: fixed;
    left: 200px;
  }
}

@media (max-width: 500px) {
  .welcome {
    left: 10%;
    top: 10%;
  }

  .button {
    left: 33%;
  }

  .footer {
    left: 15%;
  }

  .message {
    width: 360px;
    font-size: 30px;
  }

  .thoughts {
    width: 250px;
    height: 250px;
    position: fixed;
    left: 20%;
  }
}

@media (max-width: 350px) {
  .welcome h1 {
    font-size: 5rem;
  }

  .message {
    width: 260px;
    font-size: 25px;
  }

  .footer {
    left: 17%;
    font-size: 10px;
  }

  .button {
    left: 30%;
  }

  .thoughts {
    width: 200px;
    height: 200px;
    position: fixed;
    left: 20%;
  }
}